body {
    color:#fafafa;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    background: #262525;
}

p{
    font-family: Georgia,Times,"Times New Roman",serif;
}

a:hover{
    color:#fafafa;
}

header {
    border-top: 5px solid #222222;
    padding: 0 100px;
}

article {
    border-bottom: 5px solid #333333;
    padding: 0 100px;
}

article img {
    float: right;
    margin-left: 20px;
}

th {
    background: rgb(0, 0, 0);
    color: white;
    padding: 10px;
}

td {
    background: rgb(60, 60, 60);
    padding: 10px;
}
